<nav class="navbar navbar-expand-lg bg-light">
  <div class="container">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <%# <a class="nav-link active" aria-current="page" href="#">Home</a> %>
        <%= link_to 'Home', :root, class: 'nav-link' %>
        <%= link_to 'Users', users_path, class: 'nav-link' %>
        <%= link_to 'Posts', posts_path, class: 'nav-link' %>
        <%= link_to 'Comments', comments_path, class: 'nav-link' %>
        <a class="nav-link disabled">Disabled</a>
      </div>
    </div>
  </div>
</nav>


<div class="container">
  <h1 class="text-center mt-3">Header</h1>
  <div class="row justify-content-center">
    <% @posts.each do |post| %>
    <div class="col-8">
      <div class="box border my-3 p-3 rounded-5">
        <h2 class="border-bottom pb-3">標題：<%= post.title %></h2>
        <p>內容</p>
        <p>
          <%= post.content %>
        </p>
        <p><%= local_time(post.created_at) %></p>
        <div class="footer d-flex justify-content-between">
          <div class="reaction-group btn-group">
            <a href="#" class="btn">Btn1</a>
            <a href="#" class="btn">Btn2</a>
            <a href="#" class="btn">Btn3</a>
          </div>
          <a href="#" class="btn btn-success">回應</a>
        </div>
      </div>
    </div>
    <div class="col-8">
      <% post.comments.each.with_index(1) do |comment, i| %>
      <div class="comment border my-3 px-5 py-3 rounded-5">
        <span>#<%= i %></span>
        <h3><%= comment.user.name %> <small>says:</small></h3>
        <p><%= comment.content %></p>
        <small><%= local_time(comment.created_at) %></small>
      </div>
      <% end %>
    </div>
    <% end %>
  </div>
</div>
