<div class="container">
  <h1 class="text-center mt-3">Header</h1>
  <%= link_to "+新增文章", new_post_path, class: "btn btn-outline-success position-fixed" %>
  <div class="row justify-content-center">
    <% @posts.each do |post| %>
    <div class="col-8">
      <div class="box border my-3 p-3 rounded-5">
        <%= link_to "標題：#{post.title}", post, class: "d-block h2 border-bottom pb-3" %>
        <p>內容</p>
        <p>
          <%= post.content %>
        </p>
        <p class="text-muted"><%= local_time(post.created_at) %></p>
<!--
        <div class="footer d-flex justify-content-between">
          <div class="reaction-group btn-group">
            <a href="#" class="btn">Btn1</a>
            <a href="#" class="btn">Btn2</a>
            <a href="#" class="btn">Btn3</a>
          </div>
          <a href="#" class="btn btn-success">回應</a>
        </div>
-->
      </div>
    </div>
    <div class="col-8">
      <div class="comment border my-3 px-5 py-3 rounded-5">
        <%= form_with model: [post, @comment] do |f| %>
          name:
          <h3 class="text-capitalize">
            <%= @user.name.gsub(/[._]/, ' ') %>
          </h3>
          <%= f.label :content, "內容" %>
          <%= f.text_area :content, class: "form-control my-3" %>
          <%= f.submit class: "btn btn-outline-primary" %>
        <% end %>
      </div>
      <% post_comments_nums = post.comments.count %>
      <% post.load_comments.each.with_index do |comment, i| %>
      <div class="comment border my-3 px-5 py-3 rounded-5">
        <span class="text-muted">#<%= post_comments_nums - i %></span>
        <h3><%= comment.user.name %> <small>says:</small></h3>
        <p><%= comment.content %></p>
        <small class="text-muted"><%= local_time(comment.created_at) %></small>
      </div>
      <% end %>
    </div>
    <% end %>
  </div>
</div>
<%# <% byebug %>
