<div class="row justify-content-center">
  <div class="col-8">
    <%= form_with(model: post) do |form| %>
      <% if post.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

          <ul>
            <% post.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field">
        <%= form.label :title, class: "form-control border-0" %>
        <%= form.text_field :title, class: "form-control" %>
      </div>

      <div class="field">
        <%= form.label :content, class: "form-control border-0" %>
        <%= form.text_area :content, class: "form-control", size: "0x6" %>
      </div>

      <div class="actions">
        <%= form.submit class: "form-control" %>
      </div>
    <% end %>
  </div>
</div>
